# -------- DATABASE CONFIG ---------------------
POSTGRES_USER=postgres

# change this password
POSTGRES_PASSWORD=postgres
POSTGRES_DB=quesdon
TZ=Asia/Seoul
# -----------------------------------------------


# ---------- REDIS CONFIG ----------------------
REDIS_HOST=redis
REDIS_PORT=6379
# ------------------------------------------------

# ---------- APP CONFIG -------------------------
# Set exposed web url
WEB_URL="https://neo-quesdon.yami.ski"

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"

# CHANGE THIS WITH STRONG RANDOM STRING
JWT_SECRET="b87478603f82ebdf542a9babb9f71fa8fa995a92b31a7e02eabd5efa8fb203e6"

NOTI_TOKEN="iuogblkasndfkasghdfsd"
NOTI_HOST="yami.ski"

# 'debug' | 'info' | 'warn' | 'error'
# If not set, use default log settings. 
# default NODE_ENV=production => info, NODE_ENV=development => debug
APP_LOG_LEVEL="info"

# ----------------------------------------------