# -------- DATABASE CONFIG ---------------------
POSTGRES_USER=postgres

# change this password
POSTGRES_PASSWORD=postgres
POSTGRES_DB=quesdon
TZ=Asia/Seoul
# -----------------------------------------------


# ---------- REDIS CONFIG ----------------------
export REDIS_HOST=localhost
export REDIS_PORT=6379
# ------------------------------------------------

# ---------- APP CONFIG -------------------------
export WEB_URL="http://localhost:3000"
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"
export JWT_SECRET="b87478603f82ebdf542a9babb9f71fa8fa995a92b31a7e02eabd5efa8fb203e6"
export NOTI_TOKEN="iuogblkasndfkasghdfsd"
export NOTI_HOST="yami.ski"

# 'debug' | 'info' | 'warn' | 'error'
# If not set, use default log settings. 
# default NODE_ENV=production => info, NODE_ENV=development => debug
export APP_LOG_LEVEL="debug"

# ----------------------------------------------